<div class="form-login-body container">
    <div class="row">

        <div class="col-lg-10 mx-auto login-desk">
            <div class="row bgregisterform">
                <h4>Welcome to Add User...</h4>
            </div>
            <div class="row detail-box">
                <div class="col-md-6">
                    <form>
                        <div class="mb-3">
                            <label class="form-label">Name</label>
                            <input type="text" class="form-control" id="name">
                        </div>
                       
                        <div class="mb-3">
                            <label class="form-label">Phone Number</label>
                            <input type="number" class="form-control" id="Number">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Email Id</label>
                            <input type="email" class="form-control" id="email">
                        </div>
                      
                        <button type="submit" class="btn btn-success btn-style"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>
                        <button type="submit" class="btn btn-danger btn-style mx-2"><i class="fa fa-eraser" aria-hidden="true"></i> Clear</button>
                        <button type="submit" class="btn btn-primary btn-style" routerLink="/userdashboard"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back to List</button>
                    </form>
                </div>
                <div class="col-md-6">
                    <div class="detailsh">
                        <img class="help img-fluid" src="../../assets/images/adduser.jpg" alt="">
                   </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    
                </div>
            </div>
        </div>
    </div>
</div>