<div class="form-login-body container">
    <div class="row">

        <div class="col-lg-10 mx-auto login-desk">
            <div class="row bgregisterform">
                <div class="col-6">
                <h4>User Dashboard (Contact Details)</h4>
            </div>
            <div class="col-6">
                <button class="btn btn-danger btn-sm float-end" routerLink="/login"><i class="fa fa-sign-out" aria-hidden="true"></i> LogOut</button>
            </div>
            </div>
           
            <div class="row detail-box">
                <div class="col-md-12">
                    <button class="btn btn-success btn-sm" routerLink="/addusers"><i class="fa fa-user-plus" aria-hidden="true"></i> Add user</button>
                    
                </div>
                <div class="col-md-12">
                    <table class="table table-striped table-responsive table-hover">
                        <thead>
                            <tr>
                                <th class="text-hide">Id</th>
                                <th>User Name</th>
                                <th>Phone Number</th>
                                <th>Email</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-hide">1</td>
                                <td>name</td>
                                <td>kdkd</td>
                                <td>apv@gmail.com</td>
                                <td>
                                    <button class="btn btn-danger btn-sm mx-2"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                                    <button class="btn btn-primary btn-sm"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-hide">2</td>
                                <td>name</td>
                                <td>kdkd</td>
                                <td>apv@gmail.com</td>
                                <td>
                                    <button class="btn btn-danger btn-sm mx-2"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                                    <button class="btn btn-primary btn-sm"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-hide">3</td>
                                <td>name</td>
                                <td>kdkd</td>
                                <td>apv@gmail.com</td>
                                <td>
                                    <button class="btn btn-danger btn-sm mx-2"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                                    <button class="btn btn-primary btn-sm"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-hide">4</td>
                                <td>name</td>
                                <td>kdkd</td>
                                <td>apv@gmail.com</td>
                                <td>
                                    <button class="btn btn-danger btn-sm mx-2"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                                    <button class="btn btn-primary btn-sm"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
            <div class="row">
                <div class="col-md-12">

                </div>
            </div>
        </div>
    </div>
</div>